<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xsi:schemaLocation="
                    http://www.springframework.org/schema/beans
                    http://www.springframework.org/schema/beans/spring-beans.xsd
                    http://www.springframework.org/schema/tx 
                    http://www.springframework.org/schema/tx/spring-tx.xsd
                    http://www.springframework.org/schema/aop 
                    http://www.springframework.org/schema/aop/spring-aop.xsd
                    http://www.springframework.org/schema/context      
                    http://www.springframework.org/schema/context/spring-context.xsd
        			http://www.springframework.org/schema/data/jpa 
        			http://www.springframework.org/schema/data/jpa/spring-jpa.xsd">
	
	<!-- 数据源开始 -->
	<bean id="dataSource3" class="com.alibaba.druid.pool.xa.DruidXADataSource"
		init-method="init" destroy-method="close">
		<property name="name" value="${dataSource.name3}" />
		<property name="url" value="${dataSource.url3}" />
		<property name="username" value="${dataSource.username3}" />
		<property name="password" value="${dataSource.password3}" />
		<property name="initialSize" value="${dataSource.initialSize}" />
		<property name="minIdle" value="${dataSource.minIdle}" />
		<property name="maxActive" value="${dataSource.maxActive}" />
		<property name="maxWait" value="${dataSource.maxWait}" />
		<property name="timeBetweenEvictionRunsMillis" value="${dataSource.timeBetweenEvictionRunsMillis}" />
		<property name="minEvictableIdleTimeMillis" value="${dataSource.minEvictableIdleTimeMillis}" />
		<property name="validationQuery" value="${dataSource.validationQuery}" />
		<property name="testWhileIdle" value="${dataSource.testWhileIdle}" />
		<property name="testOnBorrow" value="${dataSource.testOnBorrow}" />
		<property name="testOnReturn" value="${dataSource.testOnReturn}" />
		<property name="poolPreparedStatements" value="${dataSource.poolPreparedStatements}" />
		<property name="maxPoolPreparedStatementPerConnectionSize" value="${dataSource.maxPoolPreparedStatementPerConnectionSize}" />
		<property name="useGlobalDataSourceStat" value="true" />
		<property name="filters" value="log4j" />
		<property name="proxyFilters">
			<list>
				<ref bean="stat-filter" />
				<ref bean="wall-filter" />
				<ref bean="log-filter" />
			</list>
		</property>
	</bean>
	
	<!-- 设置jta数据源 -->
	<bean id="dataSourceXA3" class="com.atomikos.jdbc.AtomikosDataSourceBean" init-method="init" destroy-method="close">  
	    	  <property name="xaDataSource" ref="dataSource3" ></property>
	    	  <property name="uniqueResourceName" value="xa3"/>
	</bean> 
	
	<!-- 指定实现JPA的适配器 -->
	<bean id="jpaVendorAdapter3"
		class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
		<property name="database" value="MYSQL" />
	</bean>  
	<!-- JPA实体管理器工厂 -->
	<bean id="entityManagerFactory3"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="dataSource" ref="dataSourceXA3" />
		<property name="persistenceProvider" ref="persistenceProvider" />
		<property name="jpaDialect" ref="jpaDialect" />
		<property name="jpaProperties"> 
			<props>
				<prop key="hibernate.dialect">${jpa.dialect3}</prop>
				<prop key="hibernate.connection.driver.class">${jpa.connection.driver.class3}</prop>
				<prop key="hibernate.max.fetch.depth">${jpa.max.fetch.depth}</prop>
				<prop key="hibernate.jdbc.fetch.size">${jpa.jdbc.fetch.size}</prop>
				<prop key="hibernate.jdbc.batch.size">${jpa.jdbc.batch.size}</prop>
				<!-- <prop key="hibernate.hbm2ddl.auto">${jpa.hbm2ddl.auto}</prop> -->
				<prop key="hibernate.show.sql">${jpa.show.sql}</prop>
				<prop key="hibernate.format.sql">${jpa.format.sql}</prop>
				<prop key="javax.persistence.validation.mode">${javax.persistence.validation.mode}</prop>
			</props>
		</property>
		
		<property name="jpaVendorAdapter" ref="jpaVendorAdapter3" />
		<!-- 加载jpa实体类 -->
		<property name="packagesToScan"  >
			<list>
				<value>com.huotu.entity.data3</value>
			</list>
		</property>
	</bean>
	
	<jpa:repositories base-package="com.huotu.dataSource3.**.dao"  transaction-manager-ref="jtaTransactionManager"/>
	
	<!-- 配置mybatis -->
	<bean id="sqlSessionFactory3" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSourceXA3" />
		<!-- <property name="configLocation" value="classpath:config/mybatis-config.xml"></property> -->
		<!-- <property name="typeAliasesPackage" value="com.cbcs.entity"></property> -->
		<property name="mapperLocations" value="classpath*:com/huotu/dataSource3/mapper/xml/*.xml"></property>
	</bean>
	<bean id="mapperScannerConfigurer3" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.huotu.dataSource3.mapper" />
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory3" />
	</bean>
	
</beans>
